<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <appSettings>

    <add key="asinImagePath" value="D:\FTP\Web\Royalqg.com\asinimages\"/>
    <!--<add key="asinImagePath" value="C:\asinimages"/>-->


    <add key="redisdbhostx" value="localhost:6379" />
    <add key="redisdbhost" value="10.10.10.3:6793" />
    <add key="redisdbpassword" value="wNbzJIU4A7yR" />

    <add key="apiurlx" value="http://localhost:55135/" />
    <add key="apiurl" value="http://service.royalqg.com/" />
    <add key="apiurl2" value="http://life62.royalqg.com/" />

    <add key="mongodbcontext" value="mongodb://canyonmongouser:123ca456@ds135983.mlab.com:35983/canyonmongodb"/>
    <add key="mongodb" value="canyonmongodb"/>


  </appSettings>
</configuration>